{% extends 'front.html.twig' %}

{% block title %}
    Liste des Exposees
{% endblock %}

{% block body %}
    <div class="service">
        <div class="container">
            <div class="section-header text-center">
                <div id="google_translate_element"></div>
                <h4 style="margin-top:50px; margin-bottom:50px;">Liste des Exposees</h4>
                <a href="{{ path('app_produit_indexFront') }}">Aller à la liste des Produits</a>
            </div>
            <div class="row">
                {% for exposee in exposees %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="service-item">
                            <img src="{{ asset('uploads/' ~ exposee.imageExposees) }}" style=" width:360px; height:250px; " alt="">
                            <p><strong style="color:#696969">Nom Exposee:</strong> {{ exposee.getNomE() }}</p>
                            <p><strong style="color:#696969">Date de début:</strong> {{ exposee.getDateDebut() ? exposee.getDateDebut()|date('Y-m-d') : '' }}</p>
                            <p><strong style="color:#696969">Date de fin:</strong> {{ exposee.getDateFin() ? exposee.getDateFin()|date('Y-m-d') : '' }}</p>
                            <a href="{{ path('app_produit_indexFront', {'id': exposee.id}) }}" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                {% else %}
                    <div class="col">
                        <p class="text-center">Aucun Exposé trouvé.</p>
                    </div>
                {% endfor %}
            </div>
        {# -------------------------- Share ------------------------------------  #}
         <div class="sharethis-inline-share-buttons"></div>
         {# -------------------------- Share ------------------------------------  #}
            {# Pagination controls #}
            <div class="pagination justify-content-center">
            </div>
        </div>
    </div>
    <br>
    <center><div class="btn px-10 py-10" {{knp_pagination_render(exposees) }} </div></center>

{% endblock %}
