

<h1>List of product </h1>

 {% if product is not empty %}
 
<table>
    <thead>
        <tr>
             <th>id</th>
    <th>nom</th>
    <th>image</th>
    <th>prix</th>
           
        </tr>
    </thead>
    <tbody>
   
 
      {% for a in product %}
        
            <tr>
             <td>{{ a.id }}</td>  
          <td>{{ a.nom }}</td>
          <td>{{ a.image }}</td>
        <td> {{ a.prix }}</td>
  <td> <a href="{{ path('cart_add',{id:a.id}) }}" class="primary-btn f-btn">ajouter Panier</a></td>
<td>
  
</td>
                  
            </tr>
        {% endfor %}
    </tbody>
</table>


 {% else %}
        <p>Aucun product  trouvé.</p>
    {% endif %}

